.body {
  background: linear-gradient(-45deg, #6497b1, #005b96, #03396c, #011f4b);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  width: 100%;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


h1 {
  color: white;
  text-align: center;
  margin: auto;
  padding: 1vw;
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
  color: white;
  margin: 0;
}

button {
  font-size: 0.9vw !important;
  height: max-content;
}

.btn-primary {
  background-color: #289fe9;
}

.cancel {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin: 20px;
}

.finalizar {
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 20px;
}

.box {
  display: grid;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.boxPrincipal {
  height: 38vw;
}

.apply {
  right: 0px;
  z-index: 500;
  bottom: 0px;
  margin-top: 1vw;
  width: max-content;
}

/**/
$colors: (
  red: #DB2828,
  orange: #F2711C,
  yellow: #FBBD08,
  olive: #B5CC18,
  green: #21BA45,
  teal: #00B5AD,
  blue: #2185D0,
  purple: #A333C8,
);
input[type="radio"] {

  display: none;

  &:checked + label {
    span {
      transform: scale(1.25);
    }

    @each $name, $value in $colors {
      .#{$name} {
        transition: 400ms;
        opacity: 1;
        transform: scale(150%);
      }
    }
    // !@each
  }

  // !&:checked + label
}

.colorPicker label {
  display: inline-block;
  width: 1vw;
  height: 1vw;
  margin: 0.4vw;
  cursor: pointer;

  &:hover {
    span {
      transform: scale(1.25);
    }
  }

  span {
    transition: 400ms;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: transform .2s ease-in-out;
    @each $name, $value in $colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}

img {
  width: 5vw;
}

/**Imagenes**/


/**/
$flags: (
  spain: "../../../assets/map/spain.png",
  france:"../../../assets/map/france.png",
  india: "../../../assets/map/india.png",
  rusia: "../../../assets/map/rusia.png",
  japan: "../../../assets/map/japan.png",
  brazil: "../../../assets/map/brazil.png",
  usa: "../../../assets/map/usa.png",
  congo: "../../../assets/map/congo.png",
);
input[type="radio"] {

  display: none;

  &:checked + label {
    span {
      transform: scale(1.25);
    }

    @each $name, $value in $flags {
      .#{$name} {
        transition: 400ms;
        opacity: 1;
        transform: scale(150%);
      }
    }
    // !@each
  }

  // !&:checked + label
}

.flagPicker label {
  display: inline-block;
  pointer-events: none;
  width: 6vw;
  height: 6vw;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    span {
      transform: scale(1.25);
    }
  }

  span {
    transition: 400ms;
    display: block;
    width: 6vw;
    height: 6vw;
    opacity: 0.5;
    transition: transform .2s ease-in-out;
    @each $name, $value in $flags {
      &.#{$name} {
        background-image: url($value);
        background-size: cover;
      }
    }
  }
}

#title {
  width: 50vw;
}

.flagInactive {
  filter: grayscale(100%);
}

.flagActive {
  pointer-events: all !important;
}

.validacion{
  pointer-events: none;
  border-radius: 4px;
  margin: auto;
}

.validacion p{
  margin: 0;
}
