
*
{
  cursor: crosshair;
}

.bienvenidaBackground
{
  background-image: url("../../../assets/backgrounds/bienvenida.gif");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
}

.fastBack
{
  background-image: url("../../../assets/backgrounds/bienvenidaFast.gif");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
}


