.body{
  background: linear-gradient(-45deg, #6497b1, #005b96, #03396c, #011f4b);
  background-size: 400% 400%;
  animation: gradient 100s ease infinite;
  width: 100%;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.box
{
  display: grid;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

h1
{
  color: white;
  text-align: center;
  margin: 0;
  margin: auto;
  padding-bottom: 2vw;
  font-size: 2vw;
}

button
{
  font-size: 0.9vw !important;
  height: max-content;
}

.btn-primary
{
  background-color: #289fe9;
}

.cancel
{
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin: 20px;
}

.finalizar
{
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 20px;
}

.boxPrincipal
{

  height: 38vw;
}
.animationBox
{
  width: 14vw;
  height: 16vw;
}
label{
  color: white;
  font-weight: bolder;
  font-size: 1vw;

}
form img{
  border: 3px solid white;
}
.stageBox
{
  width: 22vw;
  height: 10vw;
}
.animationBox
{
  width: 15vw;
  height: 16vw;
}
input,button,select,option{
  font-size: 0.9vw;
}
#title{
  width: 50vw;
}

.validacion{
  pointer-events: none;
  border-radius: 4px;
  margin: 0.5vh auto;

}

.validacion p{
  margin: 0;
}
