<h1 id="playerName">{{this.luchadores[this.indiceSeleccionado].nombre}}</h1>
<div class="container d-grid justify-content-center align-items-center">
  <script src="radarChart.js"></script> <!-- SCRIPT utilizado para la carga del radarChart -->
  <div class="radar">
    <span class="fuerza">Fuerza</span>
    <span class="vida">Vida</span>
    <span class="destreza">Destreza</span>
    <span class="tecnica">Técnica</span>
    <span class="rango">Rango</span>
    <div class="radarChartBase">
      <div class="radarStyle"></div>
    </div>
  </div>
</div>
